<div class="row">
    <div class="col jumbotron">
        <app-search 
            [type]="type" 
        ></app-search>
    </div>
</div>

<div class="row" *ngIf="!error">
    <div class="col">
        <app-pagination 
            [type]="type"
            [info]="info"
            [term]="term"
        ></app-pagination>
    </div>
</div>

<div *ngIf="isFetching">
    <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div *ngIf="!error" class="row">
    <div class="table-responsive card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Dimention</th>
                    <th scope="col">Type</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Residents#</th>
                </tr>
            </thead>
            
            <tbody id="accordion">
                <tr
                    *ngFor="let location of locations; let idx = index;"
                    data-toggle="collapse" 
                    [attr.data-target]="'#accordion-' + idx"
                    [attr.aria-controls]="'accordion'+idx"
                    aria-expanded="false"
                    (click)="handleRowClick(location.residents)"
                >
                    <th scope="row">{{idx}}</th>
                    <td >
                        {{location.name}}
                        <div [id]="'accordion-' + idx" class="panel-collapse collapse" data-parent="#accordion">
                            <ul *ngFor="let name of residentNames">
                                <li>
                                    {{name}}
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>{{ location.dimension }}</td>
                    <td>{{ location.type }}</td>
                    <td>{{ location.created | customDate }}</td>
                    <td>{{ location.residents.length }}</td>
                </tr>           
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="error" class="alert alert-danger">
    <h1>An Error is occured</h1>
    <p>{{error}}</p>
    <button class="btn btn-danger" (click)="onHandleError()">
        Okey
    </button>
</div>