<div class="row">
    <div class="col jumbotron">
        <app-search 
            [type]="type" 
        ></app-search>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-pagination 
            [type]="type"
            [info]="info"
            [term]="term"
        ></app-pagination>
    </div>
</div>

<div *ngIf="characters" class="row">
    <h1 *ngIf="isFetching">
        <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
    </h1>
    <div class="card-list">
        <app-character-listing 
            *ngFor="let char of characters" 
            [character]="char"
        ></app-character-listing>
    </div>
</div> 